/*******************************GENERAL***************************/
html{

}

body{
    font-family: 'Fredoka One', cursive;
}
/***********************************************CONTENT MAIN******************************/
.card{
    height: 100%!important;
}

/***********************NAVBAR************************************************/
#logo_gite{
    border-radius: 100%;
    border: solid 3px white;
    width: 20%;
}

/***************************FORMULAIRE DE CONNEXION**********************/
#form-admin{
    display: none;
}

#form-user{
    display: none;
}




/*********************RWD & MEDIA QUERIES*******************************/
@media screen and (max-width: 800px){

}
